<div id="p-card" x-data="UserDetail" class="w-full bg-white shadow-lg rounded-xl px-4 md:px-8 py-8 space-y-8 relative">
  <center class="text-center block text-gray-400 text-sm lowercase font-semibold">@{{object.username}}</center>
  <center>

    <form action="/api/users/{{request.user.username}}/update-image/" method="post" enctype="multipart/form-data" data-token="{{request.user.token}}" x-ref="dpForm" class="border-warning border-2 relative rounded-full w-fit aspect-1  bg-white">
      <template x-if="profile_img" class="border border-gray-200 w-32 aspect-1 object-cover duration-500 rounded-full cursor-pointer">
        <img :src="profile_img"
            class="border border-gray-200 w-32 aspect-1 object-cover duration-500 rounded-full cursor-pointer"
        >
      </template>

      <template x-if="!profile_img" class="border border-gray-200 w-32 aspect-1 object-cover duration-500 rounded-full cursor-pointer">
        <img src="{% if object.profile.image %}{{object.profile.image.url}}{% else %}profile_img{% endif %}"
            class="border border-gray-200 w-32 aspect-1 object-cover duration-500 rounded-full cursor-pointer"
        >
      </template>

      {% if object == request.user %}
      <label for="id_image" class="duration-300 transition:ease-in-out hover:shadow-md bg-warning text-gray-700 rounded-full p-3 absolute left-20 bottom-0 cursor-pointer hover:scale-105">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
        </svg>
        <input type="file" name="image" id="id_image" class="hidden" accept="image/*" @change="profileChosen">
      </label>
      {% endif %}
    </form>
  </center>
  <div class="space-y-1">
    <center class="font-bold text-base">{{object.short_name|title}}</center>
    <center class="font-bold text-s text-gray-400">{{object.email|default:'-'}}</center>
    <center class="font-bold text-s text-gray-400">{{object.profile.phone|default:'-'}}</center>
  </div>
</div>
