{% load humanize %}

<div class="space-y-5 p-3 h-full flex flex-col" id="update">
  <div class="flex items-center space-x-4 w-full justify-end pb-3">
    <button type="button" class="cursor-pointer" @click="openPostUpdate('{{object.slug}}')">
      <svg
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
        <path
          d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
        <path
          d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
      </svg>
    </button>


    <button class="cursor-pointer" @click="blogDetails = false" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>

  <!-- blog details -->
  <div class="h-full w-full overflow-y-scroll scrollbar-hide pb-8 md:pb-0">
    <div class="w-full pt-3">
      <img
        src="{% if object.image %}{{object.image.url}}{% else %}https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png{% endif %}"
        alt="{{object.title}} cover photo" class="object-cover w-full aspect-2 md:aspect-3">
    </div>

    <div class="divider"></div>
    <strong class="block font-bold text-xl md:text-2xl">{{object.title|title}}</strong>
    <span class="block text-s text-gray-400">Published {{object.published_date|naturalday}}</span>
    <div class="divider"></div>
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-2">
        {% for t in object.tags.all %}
        <span class="text-xxs md:text-s font-bold block px-3 rounded-lg bg-warning/50 text-gray-700">
          {{t.name}}
        </span>
        {% endfor %}
      </div>
      <div class="flex items-center space-x-3">
        <span class="text-s font-bold text-gray-700 flex items-center space-x-1">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-3 h-3">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>

          <span class="block">{{object.get_readtime}}</span>
        </span>
        <span class="text-s font-bold text-gray-700 flex items-center space-x-1">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-3 h-3">
            <path fill-rule="evenodd"
              d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"
              clip-rule="evenodd" />
          </svg>
          <span class="block">{% if object.author.short_name %} {{object.author.short_name|title}} {% else %} {{object.author.username}} {% endif %}</span>
        </span>
      </div>
    </div>

    <div class="divider"></div>
    <article class="prose max-w-none text-gray-500 text-sm">
      {{object.content|safe}}
    </article>

  </div>
</div>
