Dear {{first_name}},
<br>
<br>
<strong>Your email and contact has been used to vouce for {{long_name}}. If you are an affiliate to them, we hare trying to validate his account to become a part of our driving force on dropsride.</strong>
<br>
<br>
<strong>Clicking the link below will redirect you to input necessary information which shall be validated against the government's database and serves as proof that you are authentic. you can choose to decline at any point in time or complete the verification as you deem fit.</strong>
<br>
<br>
<a href='' target='_blank'>Give consent to {{long_name}}</a>
<br>
<br>
<strong>The link only expires when you decline the request to be a Next of Kin for {{long_name}}.</strong>
<br>
