{% extends "users/user_detail.html" %}
{% load static i18n widget_tweaks crispy_forms_tags form_fields %}

{% block head_title %}Travel History{% endblock %}

{% block main %}
<div class="w-full col-span-2 space-y-8" id="edits">
  <div class="p-4 overflow-hidden rounded-xl shadow-xl bg-black/10 space-y-4 relative">
    <h3 class="text-base font-bold">{{title}}</h3>
    <p class="text-xs">{{description}}</p>
    <form class="w-full pt-16 pb-3 space-y-4 md:space-y-6 relative" method="post" action="." enctype="multipart/form-data" x-data="AccountForm" x-init="checkValidity" x-ref="form" data-csrf="{{csrf_token}}" @submit.prevent="submitUpdateForm" data-redirect="{{ request.META.HTTP_REFERER }}">
      {% csrf_token %}
      {{form.media}}
      <img src="" alt="" id="provider" class="h-14 object-fit absolute right-4 top-4">

      {% for hidden in form.hidden_fields %}
          {{hidden}}
      {% endfor %}



      {% for field in form.visible_fields %}
      <div class="w-full">
        {% if field|is_checkbox %}
        <label for="{{field.id_for_label}}" class="checkbox font-bold text-sm">
          {{field|add_class:"checkbox"}}

          {{field.label}}
        </label>
        {% elif field|is_date %}
        <label for="{{field.id_for_label}}" class="text-sm font-bold">{{field.label}}</label>
        {% render_field field placeholder=field.label type="date" class="date placeholder:uppercase ring-t-0 ring-l-0 ring-r-0 focus:ring-l-0 focus:ring-r-0 focus:outline-l-0 focus:outline-r-0 focus:bg-transparent focus:placeholder:text-black text-black focus:ring-t-0 focus:outline-t-0 focus:outline-0 border-0 border-b-2 border-b-black focus:border-0 placeholder:text-gray-400 focus:ring-b-2 focus:ring-b-warning ring-b-2 ring-b-black bg-transparent w-full py-2 px-2" %}
        <span id="error-wrapper-{{field.html_name}}" class="hidden bg-red-200 text-red-600 w-full p-2 text-xs mb-4"></span>
        {% elif field|is_select %}
        <label for="{{field.id_for_label}}" class="text-sm font-bold">{{field.label}}</label>
        {% render_field field placeholder=field.label class="select placeholder:uppercase ring-t-0 ring-l-0 ring-r-0 focus:ring-l-0 focus:ring-r-0 focus:outline-l-0 focus:outline-r-0 focus:bg-transparent focus:placeholder:text-black text-black focus:ring-t-0 focus:outline-t-0 focus:outline-0 border-0 border-b-2 border-b-black focus:border-0 placeholder:text-gray-400 focus:ring-b-2 focus:ring-b-warning ring-b-2 ring-b-black bg-transparent w-full py-2 px-2" %}
        <span id="error-wrapper-{{field.html_name}}" class="hidden bg-red-200 text-red-600 w-full p-2 text-xs mb-4"></span>
        {% elif field|is_file %}
        <label for="{{field.id_for_label}}" class="text-sm font-bold">{{field.label}}</label>
        {% render_field field placeholder=field.label type="file" class="file input placeholder:uppercase ring-t-0 ring-l-0 ring-r-0 focus:ring-l-0 focus:ring-r-0 focus:outline-l-0 focus:outline-r-0 focus:bg-transparent focus:placeholder:text-black text-black focus:ring-t-0 focus:outline-t-0 focus:outline-0 border-0 border-b-2 border-b-black focus:border-0 placeholder:text-gray-400 focus:ring-b-2 focus:ring-b-warning ring-b-2 ring-b-black bg-transparent w-full py-2 px-2" %}
        <span id="error-wrapper-{{field.html_name}}" class="hidden bg-red-200 text-red-600 w-full p-2 text-xs mb-4"></span>
        {% else %}
        <label for="{{field.id_for_label}}" class="text-sm font-bold">{{field.label}}</label>
        {% render_field field placeholder=field.label class="placeholder:uppercase ring-t-0 ring-l-0 ring-r-0 focus:ring-l-0 focus:ring-r-0 focus:outline-l-0 focus:outline-r-0 focus:bg-transparent focus:placeholder:text-black text-black focus:ring-t-0 focus:outline-t-0 focus:outline-0 border-0 border-b-2 border-b-black focus:border-0 placeholder:text-gray-400 focus:ring-b-2 focus:ring-b-warning ring-b-2 ring-b-black bg-transparent w-full py-2 px-2" %}
        <span id="error-wrapper-{{field.html_name}}" class="hidden bg-red-200 text-red-600 w-full p-2 text-xs mb-4"></span>
        {% endif %}
      </div>
      {% endfor %}



      <button title="update user details" x-transition.duration.300ms class="flex items-center space-x-3 text-center justify-center mt-4 w-full rounded-xl bg-black text-white hover:bg-black hover:text-white py-3 px-4 hover:scale-105 duration-300 hover:shadow-xl " type="submit" id="submitForm">
        <svg x-show="processing" class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        <span class="text-center block mx-auto" x-text="getBtnText"></span>
      </button>
    </form>
  </div>
</div>
<div>
</div>
{% endblock main %}
