{% extends "base.html" %}
{% load static i18n humanize %}

{% block description %} Dropsride up to date information and news updates {% endblock %}
{% block keywords %} ride sharing, dropsride news, dropsride information, {{ block.super }} {% endblock %}
{% block og_title %} {{ block.super }} Dropsride up to date information and news updates {% endblock %}
{% block title %} {{ block.super }} Latest News Updates and Informative Guides {% endblock %}
{% block og_sitename %} {{ block.super }} {% endblock %}
{% block og_description %} Dropsride up to date information and news updates {% endblock %}
{% block og_favicon %} {{ block.super }} {% endblock %}
{% block author %} {{ block.super }} {% endblock %}

{% block nav %}{{ block.super }}{% endblock nav %}

{% block content %}
{% if objects %}
<section class="w-screen px-4 md:px-44 xl:px-64 py-14">
  <div
    class="space-y-6 md:space-y-0 md:flex md:items-center md:justify-between w-full rounded-xl overflow-hidden p-6 bg-black/30 h-94"
    style="background-image:url({% static 'vendors/images/business/business-bg.svg' %}); background-position:bottom; background-size:cover">
    <div class="space-y-4 md:p-14 md:w-2/5">
      <h1 class="text-2xl md:text-4xl font-semibold">{{featured_post.title|title}}</h1>
      <p class="text-base prose">
        {{featured_post.summary|capfirst|safe}}
      </p>
      <div class="flex items-center space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z" clip-rule="evenodd" />
        </svg>
        <span>
          {{featured_post.published_date|naturalday }}
        </span>
      </div>
      <div class="flex items-center space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path d="M11.7 2.805a.75.75 0 01.6 0A60.65 60.65 0 0122.83 8.72a.75.75 0 01-.231 1.337 49.949 49.949 0 00-9.902 3.912l-.003.002-.34.18a.75.75 0 01-.707 0A50.009 50.009 0 007.5 12.174v-.224c0-.131.067-.248.172-.311a54.614 54.614 0 014.653-2.52.75.75 0 00-.65-1.352 56.129 56.129 0 00-4.78 2.589 1.858 1.858 0 00-.859 1.228 49.803 49.803 0 00-4.634-1.527.75.75 0 01-.231-1.337A60.653 60.653 0 0111.7 2.805z" />
          <path d="M13.06 15.473a48.45 48.45 0 017.666-3.282c.134 1.414.22 2.843.255 4.285a.75.75 0 01-.46.71 47.878 47.878 0 00-8.105 4.342.75.75 0 01-.832 0 47.877 47.877 0 00-8.104-4.342.75.75 0 01-.461-.71c.035-1.442.121-2.87.255-4.286A48.4 48.4 0 016 13.18v1.27a1.5 1.5 0 00-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.661a6.729 6.729 0 00.551-1.608 1.5 1.5 0 00.14-2.67v-.645a48.549 48.549 0 013.44 1.668 2.25 2.25 0 002.12 0z" />
          <path d="M4.462 19.462c.42-.419.753-.89 1-1.394.453.213.902.434 1.347.661a6.743 6.743 0 01-1.286 1.794.75.75 0 11-1.06-1.06z" />
        </svg>

        <span>
          {% if not featured_post.author %}
          Dropsride
          {% else %}
          {{featured_post.author|title }}
          {% endif %}
        </span>
      </div>
      <div class="flex items-center space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path fill-rule="evenodd" d="M5.25 2.25a3 3 0 00-3 3v4.318a3 3 0 00.879 2.121l9.58 9.581c.92.92 2.39 1.186 3.548.428a18.849 18.849 0 005.441-5.44c.758-1.16.492-2.629-.428-3.548l-9.58-9.581a3 3 0 00-2.122-.879H5.25zM6.375 7.5a1.125 1.125 0 100-2.25 1.125 1.125 0 000 2.25z" clip-rule="evenodd" />
        </svg>
        <div class="flex-flex-wrap">
          {% for tag in featured_post.tags.all %}
          <span class="text-[11px] font-bold uppercase bg-gray-200 rounded-full px-5 py-1">{{tag}}</span>
          {% endfor %}
        </div>
      </div>
      <div class="flex items-center space-x-3">
        <button @click="document.getElementById('blogs').scrollIntoView({top: '50px', behavior: 'smooth'})"
          class="py-3 px-8 bg-black text-white rounded-xl hover:scale-105 hover:shadow-2xl duration-300">
          View all {{counts}}
        </button>
      </div>
    </div>

    <img
      src="https://images.pexels.com/photos/13067890/pexels-photo-13067890.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
      alt="{{object.title}}" class="block w-full md:w-96 md:h-96 object-cover rounded-xl aspect-1">
  </div>
</section>
{% endif %}

<section class="w-screen px-4 md:px-44 xl:px-64 py-14">
  {% if popular_posts %}
  <div class="grid grid-cols-1 md:grid-cols-4 xxl:grid-cols-6 gap-5">
    {% for object in popular_posts %}
    <div class="rounded-xl hover:shadow-2xl group duration overflow-hidden shadow-md">
      <img src="{{object.image.url}}" alt="{{object.title|title}" class="group-hover:scale-105 w-full aspect-3 object-cover duration-300">
      <div class="w-full py-6 px-4 space-y-4">
        <h3 class="text-xl md:text-2xl font-bold">{{object.title|title}}</h3>
        <div class="flex-flex-wrap">
          {% for tag in object.tags.all %}
          <span class="text-[11px] font-bold uppercase bg-gray-200 rounded-full px-5 py-1">{{tag}}</span>
          {% endfor %}
        </div>
      </div>
      <div class="divide-x-2 bg-black flex items-center space-x-6 text-sm text-white justify-center py-4 border-t-0.5 border-t-gray-300">
        <div class="flex items-center space-x-3">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z" clip-rule="evenodd" />
          </svg>
          <span>
            {{object.published_date|naturalday }}
          </span>
        </div>
        <div class="flex items-center space-x-3 pl-8">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path d="M11.7 2.805a.75.75 0 01.6 0A60.65 60.65 0 0122.83 8.72a.75.75 0 01-.231 1.337 49.949 49.949 0 00-9.902 3.912l-.003.002-.34.18a.75.75 0 01-.707 0A50.009 50.009 0 007.5 12.174v-.224c0-.131.067-.248.172-.311a54.614 54.614 0 014.653-2.52.75.75 0 00-.65-1.352 56.129 56.129 0 00-4.78 2.589 1.858 1.858 0 00-.859 1.228 49.803 49.803 0 00-4.634-1.527.75.75 0 01-.231-1.337A60.653 60.653 0 0111.7 2.805z" />
            <path d="M13.06 15.473a48.45 48.45 0 017.666-3.282c.134 1.414.22 2.843.255 4.285a.75.75 0 01-.46.71 47.878 47.878 0 00-8.105 4.342.75.75 0 01-.832 0 47.877 47.877 0 00-8.104-4.342.75.75 0 01-.461-.71c.035-1.442.121-2.87.255-4.286A48.4 48.4 0 016 13.18v1.27a1.5 1.5 0 00-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.661a6.729 6.729 0 00.551-1.608 1.5 1.5 0 00.14-2.67v-.645a48.549 48.549 0 013.44 1.668 2.25 2.25 0 002.12 0z" />
            <path d="M4.462 19.462c.42-.419.753-.89 1-1.394.453.213.902.434 1.347.661a6.743 6.743 0 01-1.286 1.794.75.75 0 11-1.06-1.06z" />
          </svg>

          <span>
            {% if not object.author %}
            Dropsride
            {% else %}
            {{object.author|title }}
            {% endif %}
          </span>
        </div>
      </div>
      <button @click="window.scrollTo({top: 0, behavior: 'smooth'})" hx-get="{{object.get_absolute_url}}" hx-push-url="{{object.get_absolute_url}}" hx-swap="outerHTML" hx-target="#main" class="w-full py-3 hover:scale-105 duration-300 bg-warning text-black font-medium uppercase text-base">VIEW</button>
    </div>
    {% if forloop.last %}
    <div class="flex-grow flex-none space-y-2 px-2">
      <h3 class="text-xl font-bold pb-3 border-b-0.5 border-b-black/10 w-full">Most Recent Posts</h3>
      {% for object in recent_posts|slice:4 %}
      <div @click="window.scrollTo({top: 0, behavior: 'smooth'})" hx-get="{{object.get_absolute_url}}" hx-push-url="{{object.get_absolute_url}}" hx-swap="outerHTML" hx-target="#main" class="w-full hover:scale-105 hover:shadow-md duration-300 cursor-pointer flex items-start h-min w-full flex-none  bg-black text-white border-b-0.5 border-black/10 text-black text-sm rounded-xl">
        <img src="{{object.image.thumbnail.url}}" alt="{{object.title}}" class="h-16 aspect-1 object-cover bg-white">
        <div class="flex flex-col space-y-1 p-2">
          <h4 class="text-base font-bold text-white">{{object.title|title}}</h4>
          <div class="prose prose-sm line-clamp-1 text-white text-xs">{{object.summary|capfirst|safe|truncatewords:7}}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</section>

<section id="blogs" class="w-screen px-4 md:px-44 xl:px-64 py-14">
  {% if objects %}
  <div class="grid grid-cols-1 md:grid-cols-4 xxl:grid-cols-6 gap-5">
    {% include "snippets/blog_list.html" %}
  </div>
  {% else %}
  <div class="w-full py-4 bg-black text-white text-sm text-center">
    We currently have no content for you. Please check back in a few days time.
  </div>
  {% endif %}
</section>
{% endblock content %}

