{% extends "dashboard.html" %}
{% load static humanize i18n widget_tweaks currency %}

{% block title %}{{ block.super }} Trips{% endblock %}

{% block breadcrumbs %}Trips{% endblock %}
{% block alt_right %}
<!-- <button @click="openCreateLocal=!openCreateLocal" class="ml-auto flex items-center space-x-3 text-sm rounded-xl py-2 px-4 bg-gray-700 text-white">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
  </svg>
  <span class="block text-sm">
    Book a Ride
  </span>
</button> -->
{% endblock alt_right %}

{% block content %}
<section x-data="Google" x-init="initializeMap" class="z-0 relative w-full md:flex md:items-start gap-5 h-full space-y-5 md:space-y-0">
  <div class="w-full md:w-4/6 h-[80vh] md:h-[80vh] flex flex-col overflow-hidden shadow-xl flex-none rounded-xl relative">

    <div id="map" class="w-full h-full"></div>

  </div>


  <!-- x-cloak x-show.transition.in="proDetails" transaction detail for destop view -->
  <form data-token="{{request.user.token}}" action="/api/trips/" x-ref="mapForm" method="post" id="uDetail" @submit.prevent="createTrip" @mousedown.outside="proDetails=false" :class="{'h-[84vh]':proDetails, 'h-1/6':!proDetails}" class="h-1/6 transition-all duration-500 border-t-warning border-t-4 md:h-[80vh] w-full md:flex-grow space-y-4 md:space-y-6 p-3 text-gray-700 bg-gray-100 rounded-t-xl md:rounded-xl fixed md:relative z-30 right-0 bottom-0">
    <div class="h-fit flex-none flex flex-row items-center space-x-4 px-4 py-2 w-full cursor-pointer pb-1 justify-between">
      <span x-show="formStep === 1" x-cloak class="block text-lg md:text-2xl font-bold">Book Ride </span>
      <div  x-show="formStep > 1" x-cloak class="flex items-center space-x-2" @click="formstep --">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9.75L14.25 12m0 0l2.25 2.25M14.25 12l2.25-2.25M14.25 12L12 14.25m-2.58 4.92l-6.375-6.375a1.125 1.125 0 010-1.59L9.42 4.83c.211-.211.498-.33.796-.33H19.5a2.25 2.25 0 012.25 2.25v10.5a2.25 2.25 0 01-2.25 2.25h-9.284c-.298 0-.585-.119-.796-.33z" />
        </svg>
        <span class="block text-sm font-bold">Back</span>
      </div>
      <div class="flex items-center space-x-4">
        <button :disabled="waypoint === 2" type=button @click="waypoint ++" x-show="waypoint < 2" x-cloak class="py-2 px-3 text-white bg-gray-900 flex items-center space-x-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex w-4 h-4 float-right">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
          <span class="flex text-s font-bold">Add Waypoints</span>
        </button>
        <button :disabled="waypoint === 0" type=button @click="waypoint = 0" x-show="waypoint === 2" x-cloak class="py-2 px-3 text-white bg-gray-900 flex items-center space-x-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex w-4 h-4 float-right">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
          </svg>
          <span class="flex text-s font-bold">Reset Waypoints</span>
        </button>
        <svg @click="proDetails = !proDetails" xmlns="http://www.w3.org/2000/svg" x-cloak x-show.transition.in="!proDetails" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 md:hidden">
          <path fill-rule="evenodd" d="M15 3.75a.75.75 0 01.75-.75h4.5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0V5.56l-3.97 3.97a.75.75 0 11-1.06-1.06l3.97-3.97h-2.69a.75.75 0 01-.75-.75zm-12 0A.75.75 0 013.75 3h4.5a.75.75 0 010 1.5H5.56l3.97 3.97a.75.75 0 01-1.06 1.06L4.5 5.56v2.69a.75.75 0 01-1.5 0v-4.5zm11.47 11.78a.75.75 0 111.06-1.06l3.97 3.97v-2.69a.75.75 0 011.5 0v4.5a.75.75 0 01-.75.75h-4.5a.75.75 0 010-1.5h2.69l-3.97-3.97zm-4.94-1.06a.75.75 0 010 1.06L5.56 19.5h2.69a.75.75 0 010 1.5h-4.5a.75.75 0 01-.75-.75v-4.5a.75.75 0 011.5 0v2.69l3.97-3.97a.75.75 0 011.06 0z" clip-rule="evenodd" />
        </svg>

        <svg @click="proDetails = !proDetails" xmlns="http://www.w3.org/2000/svg" x-cloak x-show.transition.in="proDetails" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 md:hidden">
          <path fill-rule="evenodd" d="M3.22 3.22a.75.75 0 011.06 0l3.97 3.97V4.5a.75.75 0 011.5 0V9a.75.75 0 01-.75.75H4.5a.75.75 0 010-1.5h2.69L3.22 4.28a.75.75 0 010-1.06zm17.56 0a.75.75 0 010 1.06l-3.97 3.97h2.69a.75.75 0 010 1.5H15a.75.75 0 01-.75-.75V4.5a.75.75 0 011.5 0v2.69l3.97-3.97a.75.75 0 011.06 0zM3.75 15a.75.75 0 01.75-.75H9a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-2.69l-3.97 3.97a.75.75 0 01-1.06-1.06l3.97-3.97H4.5a.75.75 0 01-.75-.75zm10.5 0a.75.75 0 01.75-.75h4.5a.75.75 0 010 1.5h-2.69l3.97 3.97a.75.75 0 11-1.06 1.06l-3.97-3.97v2.69a.75.75 0 01-1.5 0V15z" clip-rule="evenodd" />
        </svg>
      </div>
    </div>

    <div class="overflow-y-auto scrollbar-thin grow space-y-3">

        <div x-show="formStep === 1" x-cloak  class="flex flex-col">
          <input type="hidden" x-model="tripData.state" id="id_state" name="state">
          <!-- <input type="hidden" name="distance_km" id="id_distance_km" x-model="tripData.distance_km"> -->
          <div class="w-full grid grid-cols-1 gap-2 md:gap-5 py-4 px-2 bg-gray-100">
            <div class="flex items-center space-x-2 flex-row">
              <input type="text" name="pickup" id="id_address" x-model="riderAddress" x-ref="pickUp" class="w-full block border-gray-500 border-2 rounded-lg  placeholder:text-gray-400 text-sm bg-gray-200 focus:border-warning focus:ring-0 focus:outline-none" placeholder="Pickup Address">
              <input type="hidden" name="p_point_latitude" id="id_p_point_latitude" class="w-full block border-gray-500 border-2 rounded-lg  placeholder:text-gray-400 text-sm bg-gray-200 focus:border-warning focus:ring-0 focus:outline-none" placeholder="Pickup Address">
              <input type="hidden" name="p_point_longitude" id="id_p_point_longitude" class="w-full block border-gray-500 border-2 rounded-lg  placeholder:text-gray-400 text-sm bg-gray-200 focus:border-warning focus:ring-0 focus:outline-none" placeholder="Pickup Address">
            </div>
            <div class="flex items-center space-x-2 flex-row" x-cloak x-show.transition.in="waypoint > 0 && waypoint <= 2">
              <input type="text" name="waypoint_1" id="id_waypoint_1" x-model="tripData.waypoint1_address" x-ref="waypoint_1" class="w-full block border-gray-500 border-2 rounded-lg  placeholder:text-gray-400 text-sm bg-gray-200 focus:border-warning focus:ring-0 focus:outline-none" placeholder="Waypoint 1 Address">
              <input type="hidden" name="waypoint1_point_latitude" id="id_waypoint1_point_latitude" class="w-full block border-gray-500 border-2 rounded-lg  placeholder:text-gray-400 text-sm bg-gray-200 focus:border-warning focus:ring-0 focus:outline-none" placeholder="Waypoint 1 Address">
              <input type="hidden" name="waypoint1_point_longitude" id="id_waypoint1_point_longitude" class="w-full block border-gray-500 border-2 rounded-lg  placeholder:text-gray-400 text-sm bg-gray-200 focus:border-warning focus:ring-0 focus:outline-none" placeholder="Waypoint 1 Address">
            </div>
            <div class="flex items-center space-x-2 flex-row" x-cloak x-show.transition.in="waypoint === 2">
              <input type="text" name="waypoint_2" id="id_waypoint_2" x-model="tripData.waypoint2_address" x-ref="waypoint_2" class="w-full block border-gray-500 border-2 rounded-lg  placeholder:text-gray-400 text-sm bg-gray-200 focus:border-warning focus:ring-0 focus:outline-none" placeholder="Waypoint 2 Address">
              <input type="hidden" name="waypoint2_point_latitude" id="id_waypoint2_point_latitude" class="w-full block border-gray-500 border-2 rounded-lg  placeholder:text-gray-400 text-sm bg-gray-200 focus:border-warning focus:ring-0 focus:outline-none" placeholder="Waypoint 2 Address">
              <input type="hidden" name="waypoint2_point_longitude" id="id_waypoint2_point_longitude" class="w-full block border-gray-500 border-2 rounded-lg  placeholder:text-gray-400 text-sm bg-gray-200 focus:border-warning focus:ring-0 focus:outline-none" placeholder="Waypoint 2 Address">
            </div>
            <div class="flex items-center space-x-2 flex-row">
              <input type="text" name="dropoff" id="id_address2" x-model="dropOffAddress" x-ref="dropOff" class="w-full block border-gray-500 border-2 rounded-lg  placeholder:text-gray-400 text-sm bg-gray-200 focus:border-warning focus:ring-0 focus:outline-none" placeholder="Drop-Off Address">
              <input type="hidden" name="d_point_latitude" id="id_d_point_latitude" class="w-full block border-gray-500 border-2 rounded-lg  placeholder:text-gray-400 text-sm bg-gray-200 focus:border-warning focus:ring-0 focus:outline-none" placeholder="Drop-Off Address">
              <input type="hidden" name="d_point_longitude" id="id_d_point_longitude" class="w-full block border-gray-500 border-2 rounded-lg  placeholder:text-gray-400 text-sm bg-gray-200 focus:border-warning focus:ring-0 focus:outline-none" placeholder="Drop-Off Address">
            </div>
          </div>

          <div class="px-2">
            <button class="w-full py-3 text-center btn-rounded bg-gray-900 text-white font-bold text-sm">
              Select Car Type
            </button>
          </div>
        </div>

    </div>
  </form>

  <!-- <div id="uDetail" :class="{'h-1/3':proDetails, 'h-1/6':!proDetails}" class="h-1/6 border-t-warning border-t-4 md:hidden flex flex-col w-full space-y-4 p-3 text-gray-700 bg-gray-100 rounded-t-xl fixed z-30 right-0 bottom-0">

  </div> -->
</section>

{% endblock %}


<!-- {% block modal %}
<section id="userModal" x-show.transition="openCreateLocal" x-cloak class="w-screen h-screen bg-black/40 backdrop-blur-sm fixed z-50 flex flex-col items-center justify-center top-0 left-0 right-0 bottom-0">
  <form @click.outside="openCreateLocal=false" x-ref="localeForm" class="md:float-right w-full md:max-w-2xl bg-white btn-rounded shadow-md block overflow-hidden" method="post" action="{% url 'home' %}api/settings/localization/" data-token="{{request.user.token}}" @submit.prevent="addLocale">
    <div class="w-full p-6 border border-b-gray-200 space-y-2">
      <h1 class="font-semibold text-xl md:text-2xl">{% translate "Add New Localization" %}</h1>
    </div>


    {{ form.media }}

    <div class="w-full p-6 rounded-b-xl space-y-5">
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}

      <div>
        <label for="id_state" class="text-s font-bold text-gray-500">State</label>
        {% render_field form.state required="true"  class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.state.label %}
      </div>

      <div class="grid grid-cols-2 md:grid-cols-4 gap-3">

        <div>
          <label for="id_tiket_fare" class="text-s font-bold text-gray-500">Drivers Subscription</label>
          <div class="border-2 border-gray-200 text-gray-500 rounded-xl">
            {% render_field form.tiket_fare required="true"  class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.tiket_fare.label %}
          </div>
        </div>

        <div>
          <label for="id_base_price" class="text-s font-bold text-gray-500">Base Price</label>
          <div class="border-2 border-gray-200 text-gray-500 rounded-xl">
            {% render_field form.base_price required="true"  class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.base_price.label %}
          </div>
        </div>

        <div>
          <label for="id_cost_per_km" class="text-s font-bold text-gray-500">Cost Per KM</label>
          <div class="border-2 border-gray-200 text-gray-500 rounded-xl">
            {% render_field form.cost_per_km required="true"  class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.cost_per_km.label %}
          </div>
        </div>

        <div>
          <label for="id_cost_per_15min" class="text-s font-bold text-gray-500">Cost After Waiting 15mins</label>
          <div class="border-2 border-gray-200 text-gray-500 rounded-xl">
            {% render_field form.cost_per_15min required="true"  class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.cost_per_15min.label %}
          </div>
        </div>
      </div>

      <button class="justify-between btn-rounded px-6 py-3 bg-black text-white shadow-sm hover:shadow-xl flex items-center space-x-4 duration-500 w-full" type="submit">
        <strong class="block text-sm font-bold uppercase" x-text="postCreateText"></strong>
        <div role="status" x-show.transition="creating" x-cloak>
          <svg aria-hidden="true" class="w-4 h-4 text-white animate-spin fill-warning"
            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor" />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentFill" />
          </svg>
          <span class="sr-only">Creating...</span>
        </div>
      </button>
    </div>
  </form>
</section>
{% endblock modal %} -->




{% block javascript %}
<script defer src="https://maps.googleapis.com/maps/api/js?key={{settings.GOOGLE_API}}&libraries=places&callback=googleReady"></script>

<script>
function googleReady() {
document.dispatchEvent(new Event('google:init'));
}
</script>


{{ block.super }}
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
  const GOOGLE_API_KEY = '{{settings.GOOGLE_API|safe}}';
  const base_country = 'ng';
</script>
<script src="{% static 'vendors/js/Google.js' %}"></script> -->
{% endblock javascript %}
