{% load widget_tweaks i18n %}

<div class="space-y-5 p-3 h-full">
  <div class="flex items-center space-x-4 absolute top-4 right-4 cursor-pointer">
    <svg @click="openLocalizationDetail('{{object.uuid}}')" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </div>



  <!-- blog details -->
  <div class="h-full w-full overflow-y-scroll scrollbar-hide pb-8 md:pb-0">

    <form @click.outside="openCreateLocal=false" x-ref="localeForm" class="space-y-3" method="post" action="{% url 'home' %}api/localizations/{{object.uuid}}/" data-token="{{request.user.token}}" @submit.prevent="updateLocale">
      <!-- <div class="w-full p-6 border border-b-gray-200 space-y-2">
        <h1 class="font-semibold text-xl md:text-2xl">{% translate "Add New Localization" %}</h1>
      </div>
 -->
      <div class="px-6">
        <strong class="font-bold text-gray-700 text-base">Update {{object.state.state|title}} State</strong>
      </div>


      {{ form.media }}

      <div class="w-full p-6 rounded-b-xl space-y-5">
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        <div>
          <label for="id_state" class="text-s font-bold text-gray-500">State</label>
          {% render_field form.state required="true"  class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.first_name.label %}
        </div>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-3">

          <div class="flex-col flex justify-end">
            <label for="id_tiket_fare" class="text-s font-bold text-gray-500">Drivers Subscription</label>
            <div class="border-2 border-gray-200 text-gray-500 rounded-xl">
              {% render_field form.tiket_fare required="true"  class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.first_name.label %}
            </div>
          </div>

          <div class="flex-col flex justify-end">
            <label for="id_base_price" class="text-s font-bold text-gray-500">Base Price</label>
            <div class="border-2 border-gray-200 text-gray-500 rounded-xl">
              {% render_field form.base_price required="true"  class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.first_name.label %}
            </div>
          </div>

          <div class="flex-col flex justify-end">
            <label for="id_cost_per_km" class="text-s font-bold text-gray-500">Cost Per KM</label>
            <div class="border-2 border-gray-200 text-gray-500 rounded-xl">
              {% render_field form.cost_per_km required="true"  class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.first_name.label %}
            </div>
          </div>

          <div class="flex-col flex justify-end">
            <label for="id_cost_per_15min" class="text-s font-bold text-gray-500">Cost After Waiting 15mins</label>
            <div class="border-2 border-gray-200 text-gray-500 rounded-xl">
              {% render_field form.cost_per_15min required="true"  class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.first_name.label %}
            </div>
          </div>
        </div>

        <button class="justify-between btn-rounded px-6 py-3 bg-black text-white shadow-sm hover:shadow-xl flex items-center space-x-4 duration-500 w-full" type="submit">
          <strong class="block text-sm font-bold uppercase" x-text="postUpdateText"></strong>
          <div role="status" x-show.transition="loading" x-cloak>
            <svg aria-hidden="true" class="w-4 h-4 text-white animate-spin fill-warning"
              viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
            </svg>
            <span class="sr-only">Creating...</span>
          </div>
        </button>
      </div>
    </form>

  </div>
</div>
