{% load static i18n %}{% load render_bundle from webpack_loader %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Dropsride — Complete Payment Verification{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %} Drops Ride is a technology company that provides E-Ride hailing taxi services via the Drops App. Our vision is to create safe, convenient and affordable rides.{% endblock description %}">
    <meta name="keywords" content="{% block keywords %}ride hailing, cab, taxify, dropsride{% endblock keywords %}">
    <meta name="author" content="Jeremiah E. David (https://jeremiahedavid.space)">

    <!-- Facebook OG Shared Link Information -->
    <meta property="og:title" content="{% block og_title %}DropsRide{% endblock og_title %}">
    <meta property="og:site_name" content="{% block og_sitename %}DropsRide{% endblock og_sitename %}">
    <meta property="og:description" content="{% block og_description %} Drops Ride is a technology company that provides E-Ride hailing taxi services via the Drops App. Our vision is to create safe, convenient and affordable rides.{% endblock og_description %}">
    <meta property="og:image" content="{% block og_favicon %}{% static 'vendors/images/favicons/favicon.png' %}{% endblock og_favicon %}">
    <meta property="og:url" content="{{ request.path }}">
    <meta property="og:image:alt" content="Dropsride LTD">
    <meta property="og:type" content="information technology, services" />

    <meta name="htmx-config" content='{"historyCacheSize": 15}'>
    <meta name="format-detection" content="telephone=yes">
    <meta name="csrf-token" content="{{csrf_token}}">
    <meta name="HandheldFriendly" content="true">
    <meta name="Classification" content="Service">
    <meta name="category" content="Ride Hailing, Transportation, Logistics, Information Technology">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">

    <!-- Twitter TWITTER Shared Link Information -->
    <meta property="twitter:card" content="summary_large_image" />

    <meta name="htmx-config" content='{"historyCacheSize": 15}'>

    <link rel="shortcut icon" href="{% static 'assets/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="48x48" href="{% static 'assets/favicon-48x48.png' %}">
    <link rel="manifest" href="{% static 'assets/manifest.json' %}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#fff">
    <meta name="application-name" content="Dropsride">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="167x167" href="{% static 'assets/apple-touch-icon-167x167.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/apple-touch-icon-180x180.png' %}">
    <link rel="apple-touch-icon" sizes="1024x1024" href="{% static 'assets/apple-touch-icon-1024x1024.png' %}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Dropsride">
    <meta name="msapplication-TileColor" content="#ddd">
    <meta name="msapplication-TileImage" content="{% static 'assets/mstile-144x144.png' %}">
    <meta name="msapplication-config" content="{% static 'assets/browserconfig.xml' %}">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&&family=DynaPuff:wght@400;500;600;700&family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&family=Poiret+One&family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200&family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0&display=swap" rel="stylesheet">

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- This file stores project-specific CSS -->
    {% render_bundle 'project' 'css' %}
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}

    {% comment %}
    <!-- Vendor dependencies bundled as one file
      {% render_bundle 'vendors' 'js' attrs='defer' %} -->
    {% endcomment %}

      <!-- place project specific Javascript in this file -->
      {% render_bundle 'project' 'js' attrs='defer' %}

    {% endblock javascript %}

    {{form.media}}

  </head>

  <body id="body" hx-ext="debug, event-header" @scroll.window="scrollNav" x-data="Default" class="bg-gray-200">

    <main class="w-screen h-screen flex items-center flex-col justify-center">

      <div x-data="UserDetail" class="w-fit space-y-3 p-8 bg-white rounded-xl shadow-lg flex flex-col items-center justify-center">

        <p class="text-black text-sm">
          Close to complete your payment verification
        </p>

        <button @click="closePopup" class="flex px-6 py-2 rounded-md bg-black text-white">
          Close
        </button>
      </div>

    </main>

    <!-- webpush variables -->
    <script>
      window.WEB_PUSH_CFG = {
          APPLICATION_SERVER_KEY: "{{APPLICATION_SERVER_KEY}}",
          SEND_NOTIFICATION: "{% url 'send_notification' %}",
          CREATE_WP_DEVICE: "{% url 'save_webpush_info' %}",
      };
    </script>


    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
