{% load widget_tweaks i18n %}
<div class="space-y-5 py-8 container mx-auto flex flex-col">
  <form enctype="multipart/form-data" action="/api/positions/{{object.slug}}/apply/" method="post" data-csrf="{{csrf_token}}"  data-slug="{{object.slug}}" x-ref="careerForm" class="flex flex-col space-y-3 w-full">
    {{form.media}}

    {% csrf_token %}

    <div class="w-full p-6 border-b-2 border-b-gray-200 space-y-2">
      <h1 class="font-semibold text-xl md:text-2xl">{% translate "Apply for " %}{{object.title|title}}</h1>
    </div>


    <div class="px-6 space-y-3 pb-8">
      <label for="id_file" class="bg-white p-2 rounded-xl shadow-xl border-black border-2 flex items-center space-x-3">
        <span class="block font-bold text-sm uppercase text-gray-700">upload your cv</span>
        {% render_field form.file required="true" class="form-control" placeholder="form.file.label" %}
      </label>

      <!-- <input type="hidden" name="position" value="{{object.id}}"> -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div>
          <label for="id_first_name" class="font-bold text-sm text-gray-700 uppercase">First Name</label>
          {% render_field form.first_name required="true" class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.first_name.label %}
        </div>
        <div>
          <label for="id_middle_name" class="font-bold text-sm text-gray-700 uppercase">Middle Name</label>
          {% render_field form.middle_name required="true" class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.middle_name.label %}
        </div>
        <div>
          <label for="id_last_name" class="font-bold text-sm text-gray-700 uppercase">Last Name</label>
          {% render_field form.last_name required="true" class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.last_name.label %}
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <label for="id_email" class="font-bold text-sm text-gray-700 uppercase">Email</label>
          {% render_field form.email required="true" class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.email.label %}
        </div>
        <div>
          <label for="id_phone_number" class="font-bold text-sm text-gray-700 uppercase">Mobile Number</label>
          {% render_field form.phone_number required="true" class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.phone_number.label %}
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <label for="id_gender" class="font-bold text-sm text-gray-700 uppercase">Gender</label>
          {% render_field form.gender required="true" class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.gender.label %}
        </div>
        <div>
          <label for="id_age" class="font-bold text-sm text-gray-700 uppercase">Age</label>
          {% render_field form.age required="true" class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.age.label %}
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <label for="id_location" class="font-bold text-sm text-gray-700 uppercase">Location</label>
          {% render_field form.location required="true" class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.location.label %}
        </div>
        <div>
          <label for="id_country" class="font-bold text-sm text-gray-700 uppercase">Country</label>
          {% render_field form.country required="true" class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.country.label %}
        </div>
      </div>

      <div>
        <label for="id_cover_letter" class="font-bold text-sm text-gray-700 uppercase">Cover Letter</label>
        {% render_field form.cover_letter required="true" class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.cover_letter.label %}
      </div>

      <div class="flex items-center space-x-5">
        <div>
          <label for="id_disability" class="bg-white rounded-xl hover:shadow-xl space-x-2 font-bold text-sm text-gray-700 uppercase flex items-center p-2">
            {% render_field form.disability class="rounded-lg" %} <span class="flex">{{form.disability.label}}</span>
          </label>
        </div>
        <div>
          <label for="id_consent" class="bg-white rounded-xl hover:shadow-xl space-x-2 font-bold text-sm text-gray-700 uppercase flex items-center p-2">
            {% render_field form.consent class="rounded-lg" %} <span class="flex">{{form.consent.label}}</span>
          </label>
        </div>
      </div>


      <button @click="applyCareer" class="justify-between btn-rounded px-6 py-3 bg-black text-white shadow-sm hover:shadow-xl flex items-center space-x-4 duration-500 w-full" type="button">
        <strong class="block text-sm font-bold uppercase" x-text="applyText"></strong>
        <div role="status" x-show.transition="applying" x-cloak>
          <svg aria-hidden="true" class="w-4 h-4 text-white animate-spin fill-warning"
            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor" />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentFill" />
          </svg>
          <span class="sr-only">Creating...</span>
        </div>
      </button>
    </div>
  </form>
</div>
