
{% extends "dashboard.html" %}
{% load static %}

{% block title %}{{ block.super }} {{ object.username|title }} Account Information{% endblock %}

{% block breadcrumbs %}Profile{% endblock %}
{% block alt_right %}{{ block.super }}{% endblock alt_right %}

{% block content %}

{% if object == request.user or request.user.is_staff %}

<section class="z-0 relative w-full md:flex md:items-start gap-5 min-h-full space-y-5 md:space-y-0">
  <!-- User profile photo and username -->
  <div class="w-full md:w-1/5 md:h-full space-y-6 flex-none">
    {% include "users/snippets/profile_card.html" with object=object %}
    {% include "users/snippets/need_help.html" %}
  </div>

  <div id="ratingList" class="w-full md:flex-grow space-y-6 text-gray-700">
    {% include "admin/ratings/snippets/list.html" %}
  </div>
</section>

{% endif %}


{% endblock content%}
