{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags widget_tweaks %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}


{% block inner %}
<div class="md:w-2/3 mx-auto py-4 space-y-2">
  <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="user avatar" class="rounded-full w-24 h-24 mx-auto object-cover" id="avatar" title="user avatar">

<h1 class="font-bold text-xl md:text-2xl text-center uppercase">{% translate "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<div class="text-center text-xs md:text-sm">{% translate "Please sign in with one of your existing third party accounts:" %}</div>
<br>

  <div class="socialaccount_ballot">
    <ul title="social login buttons" class="socialaccount_providers flex items-center space-x-6 justify-center">
      {#{% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
      <button hx-get="{% provider_login_url 'google' %}" hx-target="body" hx-push-url="{% provider_login_url 'google' %}" class="duration-300 flex items-center justify-center space-x-3 px-4 py-3 min-w-[47%] rounded-xl bg-[#DB4437] hover:bg-[#993026] text-center hover:shadow-lg text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-6" viewBox="0 0 488 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"/></svg>
        <span>Google</span>
      </button>

      <button hx-get="{% provider_login_url 'facebook' %}" hx-push-url="{% provider_login_url 'facebook' %}" hx-target="body" class="duration-300 flex items-center justify-center space-x-3 px-4 py-3 min-w-[47%] rounded-xl bg-[#3b5998] hover:bg-[#2f4677] text-right hover:shadow-lg text-white">
        <span class="block" >Facebook</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-6 block" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/></svg>
      </button>
    </ul>
  </div>

  <div class="font-bold uppercase text-xl mx-auto py-4 w-full text-center">{% translate "or" %}</div>

  <div class="text-xs md:text-sm text-justify md:text-left" hx-boost="true">
    {% if ACCOUNT_ALLOW_REGISTRATION %}
      {% blocktranslate trimmed %}
      If you have not created an account yet, then please, <a href="{{ signup_url }}" class="font-bold uppercase duration-300 rounded-md hover:py-2 hover:px-4 hover:bg-black/5">sign up</a>
        first for an account {{ site_name }} and return back to this page to sign in with the form below:
      {% endblocktranslate %}
    {% endif %}
  </div>


  {% include "socialaccount/snippets/login_extra.html" %}

{% else %}
  {% if ACCOUNT_ALLOW_REGISTRATION %}
    <p>
      {% blocktranslate trimmed %}
        If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.
      {% endblocktranslate %}
    </p>
  {% endif %}
{% endif %}
  <div id="form">
    <form hx-boost="true" x-data="AccountForm" x-init="checkValidity" x-ref="form" method="post" action="{% url 'account_login' %}" data-csrf="{{csrf_token}}" data-redirect="{% if user.is_authenticated %}{% url 'users:detail' user.username %}{% elif user.is_staff %}{% url 'staff:dashboard' %}{% elif redirect_field_value %}{{ redirect_field_value }}{% else %}{% url 'users:redirect' %}{% endif %}" @submit.prevent="submitLoginForm" class="w-full py-3 space-y-4 md:space-y-6">
      {% csrf_token %}

      {% for hidden in form.hidden_fields %}
          {{hidden}}
      {% endfor %}

      <div class="rounded-xl shadow-md bg-white p-4">
        <div class="w-full">
          {% render_field form.login required="true" type="email" placeholder="Your Email*" class="email placeholder:uppercase ring-t-0 ring-l-0 ring-r-0 focus:ring-l-0 focus:ring-r-0 focus:outline-l-0 focus:outline-r-0 focus:bg-gray-200 focus:placeholder:text-black text-black focus:ring-t-0 focus:outline-t-0 focus:outline-0 border-0 border-b-2 border-b-black focus:border-0 placeholder:text-gray-400 focus:ring-b-2 focus:ring-b-warning ring-b-2 ring-b-black bg-white w-full" %}
          <span id="error-wrapper-login" class="hidden bg-red-200 text-red-600 w-full p-2 text-xs mb-4"></span>
        </div>
        <div class="w-full">
          <div class="w-full flex items-center border-b-2 border-b-black">
            {% render_field form.password required="true" type="password" placeholder="Password" class="password placeholder:uppercase ring-t-0 ring-l-0 ring-r-0 focus:ring-l-0 focus:ring-r-0 focus:outline-l-0 focus:outline-r-0 focus:bg-gray-200 focus:placeholder:text-black text-black focus:ring-t-0 focus:outline-t-0 focus:outline-0 border-0 focus:border-0 placeholder:text-gray-400 focus:ring-b-2 focus:ring-b-warning ring-b-2 ring-b-black bg-white w-full" %}
            <button title="password reveal" type="button" @click="showPassword" class="p-2 aspect-1 text-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
          <span id="error-wrapper-password" class="hidden bg-red-200 text-red-600 w-full p-2 text-xs mb-4"></span>
        </div>

      </div>
      <div class="w-full">
        <label class="font-bold text-sm pb-" for="id_remember">
          {% render_field form.remember type="checkbox" class="checkbox" %}
          <span class="px-3">Remember my login session</span>
        </label>
        <span id="error-wrapper-remember" class="hidden bg-red-200 text-red-600 w-full p-2 text-xs mb-4"></span>
      </div>

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      <span id="error-wrapper-{{ redirect_field_name }}" class="hidden bg-red-200 text-red-600 w-full p-2 text-xs mb-4"></span>
      {% endif %}


      <a class="block text-sm py-3 text-primary" href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>

      <button title="apply now" x-transition.duration.300ms class="flex items-center space-x-3 text-center justify-center mt-4 w-full rounded-xl bg-black text-white hover:bg-black hover:text-white py-3 px-4 hover:scale-105 duration-300 hover:shadow-xl " type="submit" id="submitForm">
        <svg x-show="processing" class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        <span class="text-center block mx-auto" x-text="getBtnText"></span>
      </button>
    </form>
  </div>
</div>
{% endblock %}
