{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags widget_tweaks %}

{% block title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}
<div class="px-8 w-full md:absolute md:right-0 md:h-full md:top-0 flex items-center justify-center md:w-1/2">


    <form method="POST" action="{% url 'home' %}api/auth/password/reset/" x-ref="form" x-data="ResetPasswordForm" data-csrf="{{csrf_token}}" data-redirect="{% url 'account_login' %}"  class="md:float-right w-full md:max-w-2xl bg-white btn-rounded shadow-md block overflow-hidden">
      {% if user.is_authenticated %}
      <div class="bg-primary/20 text-primary text-center btn-rounded py-3">
        {% include "account/snippets/already_logged_in.html" %}
      </div>
      {% endif %}
      <div class="w-full p-6 border border-b-gray-200 space-y-2">
        <h1 class="font-semibold text-xl md:text-2xl">{% translate "Password Reset" %}</h1>
        <p class="text-sm text-gray-400">{% translate "Forgotten your password? <br>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
      </div>

      {% csrf_token %}

      <div class="w-full p-6 rounded-b-xl space-y-5">
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        <div class="space-y-2 w-full overflow-hidden">
          {% render_field form.email required="true" x-model="formData.email" class="block cursor-pointer hover:shadow-xl placeholder:text-gray-400 placeholder:text-sm w-full rounded-xl text-gray-700 overflow-hidden ring-0 border border-gray-200 duration-500 focus:border-gray-700 focus:border focus:ring-gray-700 focus:ring-1 outline-0 focus:outline-0" placeholder=form.email.label %}
          <span class="hidden bg-red-200 text-red-600 w-full p-2 text-xs mb-4">Invalid Email</span>
        </div>

        <button @click="submitForm" class="group btn-rounded px-6 py-3 shadow-sm hover:shadow-xl flex items-center space-x-3 bg-warning duration-500 hover:space-x-5" type="button">
          <strong class="block text-sm font-bold uppercase" x-text="formText"></strong>

          <svg x-show.transition="!loading" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 group-hover:animate-pulse duration-500 block">
            <path d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z" />
          </svg>

          <div role="status" x-show.transition="loading">
            <svg aria-hidden="true" class="w-4 h-4 text-white animate-spin fill-warning"
              viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
            </svg>
            <span class="sr-only">Loading...</span>
          </div>
        </button>
        <p class="flex items-center space-x-2 text-primary/60 text-sm font-semibold">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 01.67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 11-.671-1.34l.041-.022zM12 9a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
          </svg>
          <span class="block">
            {% blocktranslate %}Please contact us if you have any trouble resetting your password.{% endblocktranslate %}</p>
          </span>
      </div>
    </form>

</div>
{% endblock %}
