{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{{ block.super }}{% translate "Password Reset" %}{% endblock %}

{% block inner %}
<div class="px-8 w-full md:absolute md:right-0 md:h-full md:top-0 flex items-center justify-center md:w-1/2">
  <div class="md:float-right w-full md:max-w-2xl bg-white btn-rounded shadow-md block overflow-hidden">
    <h1 class="font-semibold text-xl md:text-2xl">{% translate "Password Reset" %}</h1>

    {% if user.is_authenticated %}
      <div class="bg-primary/20 text-primary text-center btn-rounded py-3">
        {% include "account/snippets/already_logged_in.html" %}
      </div>
    {% endif %}

    <p class="text-sm text-gray-400">{% blocktranslate %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktranslate %}</p>
  </div>
</div>
{% endblock %}
