{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Verify Your E-mail Address" %}{% endblock %}

{% block inner %}
<div class="md:w-2/3 mx-auto py-4 space-y-2">
  <h1 class="font-bold text-xl md:text-2xl text-center uppercase">{% translate "Verify Your E-mail Address" %}</h1>

    <p class="text-xs md:text-sm text-justify md:text-left">{% blocktranslate %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktranslate %}</p>
</div>
{% endblock %}
